#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    // Everything else goes here!
    
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
                // ----------------------------------------------
                // | ESC |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =     | BSPC | PGUP |
                // | TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]     |  \   | PGDN |
                // | CAPS|  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  | ENTER  |      |      |
                // | LSFT|  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  | RSFT | MO(1) |      |   UP |
                // | LCTL| LALT| LGUI|     |     |SPACE|     |     | RALT|MO(1)| RCTL | LEFT | DOWN |      | RIGHT|

            bindings = <
                &kp ESC     &kp 1     &kp 2     &kp 3     &kp 4     &kp 5     &kp 6     &kp 7     &kp 8     &kp 9     &kp 0     &kp MINUS   &kp EQUAL   &kp PLUS    &kp PGUP
                &kp TAB     &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT    &kp RBKT    &kp BSLS    &kp PGDN
                &kp CAPS    &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT     &kp ENTER               &kp PGDN
                &kp LSHFT   &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT   &mo 1                   &kp UP     
                &kp LCTRL   &kp LALT  &kp LGUI                      &kp SPACE                     &kp RALT  &mo 1     &kp RCTRL &kp LEFT    &kp DOWN                &kp RIGHT
            >;
        };
        
        

        lower_layer {
        bindings = <
            &kp none        &kp none        &bootloader
            &kp none        &kp none        &bt BT_CLR
            &kp BT_SEL 0        &kp BT_SEL 1        &bt BT_SEL 2
        >;

        };
    };

};


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 0
                &kp ESC     &kp 1     &kp 2     &kp 3     &kp 4     &kp 5     &kp 6     &kp 7     &kp 8     &kp 9     &kp 0     &kp MINUS &kp EQUAL  &kp BSPC   &kp DEL
                // Row 1
                &kp TAB     &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT   &kp BSLS   &kp PGUP
                // Row 2
                &kp CAPS    &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp ENTER  &trans     &kp PGDN
                // Row 3
                &kp LSHFT   &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT &mo 1      &kp UP     &trans
                // Row 4
                &kp LCTRL   &kp LGUI  &kp LALT  &trans    &trans    &kp SPACE &trans    &trans    &kp RALT  &mo 1     &kp RCTRL &kp LEFT  &kp DOWN   &kp RIGHT  &trans
            >;
        };

        fn_layer {
            bindings = <
                // Row 0
                &kp GRAVE   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12    &trans     &trans
                // Row 1
                &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans     &trans     &trans
                // Row 2
                &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans     &trans     &trans
                // Row 3
                &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans     &trans     &trans
                // Row 4
                &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans     &trans     &trans
            >;
        };
    };
};









